<header>
  <ul>
    <li>Команда
      <ul>
        <li><a href="">Игроки</a></li>
        <li><a href="">Тренировки</a></li>
        <li><a href="">История</a></li>
        <li><a href="">Детские команды</a></li>
        <li><a href="">Вступить в команду</a></li>
      </ul>
    </li>
    <li>Медиа
      <ul>
        <li><a href="">Фото</a></li>
        <li><a href="">Видео</a></li>
        <li><a href="">СМИ о нас</a></li>
      </ul>
    </li>
    <li><a href="">Черлидеры</a></li>
    <li><a href="">Атрибутика</a></li>
    <li><a href="">Сотрудничество</a></li>
    <li><a href="">Блог</a></li>
  </ul>
</header>