{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.photo' | trans({}, 'navigation') }}
{% endblock %}

{% block content_row %}
  {# <div class="count">
    {{ pagination.getTotalItemCount }}
  </div> #}
  {% for photo in pagination %}
    <div>
        {% media photo, 'medium' %}
 {#     <div> {% media post.image, 'main' %}</div> #}
    </div>
  {% endfor %}
  {# <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div> #}
{% endblock %}
