{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.video' | trans({}, 'navigation') }}
{% endblock %}

{% block content_row %}
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  <div>
    {% for video in pagination %}
      {% media video, 'medium' %}
    {% endfor %}
  </div>
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
