{% extends sonata_block.templates.block_base %}

{% block block %}
  {# is_granted('ROLE_SUPER_ADMIN') #}
  {% if true and admin %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="box-title">{{ admin.label|trans({}, admin.translationdomain) }}</h3>
      </div>
      <div class="sonata-blog-post-container list-group">
        {% for p in pages %}
          <a href="{{ admin.generateUrl('edit', {id: p.id}) }}" class="list-group-item">{{ p.name }}</a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}