{% extends '::base.html.twig' %}

{% block headline %}
  {{ product.getName() }}
{% endblock %}

{% block content %}
  <h1></h1>
  {# TO DO: need to translate #}
  <div>Описание: {{ product.getDescription() }}</div>
  <div>Цена: {{ product.price }}</div>
  <div>{% media product.image, 'big' %}</div>
{% endblock %}
