section.attr {

	article {
		padding: 15px;
		border: 1px white;
		background: @gray-brand;
		position: relative;
		min-height: 265px;
		
		div.photo {
			border: 1px @blue-brand solid;
			margin-bottom: 12px;

			img {
				width: 100%;
			}
		}

		a {
			text-decoration: none;
			font-weight: bold;
			font-size: 120%;
		}

		div.price {
			font-size: 100%;
			position: absolute;
			bottom: 15px; 
			left: 15px;
		}
	}
}