@import 'variables.less';

section.cheerleaders {

	div.main_photo {
		padding: 15px;
		background: @gray-brand;
		margin-bottom: 20px;

		img {
			width: 100% !important;
			height: auto !important;
		}
	}

	div.girls {
		padding: 15px 0;
		text-align: center;
		background: @gray-brand;
		vertical-align: top;

		div.girl {
			display: inline-block;
			margin: 0 13px;
			font-size: 80%;
			font-weight: bold;

			div.photo {
				margin-bottom: 5px;
			}
		}

		div.girl:first-child {
			margin-left: 0;
		}

		div.girl:last-child {
			margin-right: 0;
		}
	}
}

div.cheers_wrapper {

	div.row.more_one {
		margin-bottom: 30px;
	}

	div.girl {
		padding: 15px;
		text-align: center;
		background: @gray-brand;
		vertical-align: top;

		img {
			width: 100% !important;
			height: auto !important;
		}

		h3 {
			font-size: 150%;
  			font-weight: bold;
  			color: @blue-brand;
		}

		div.about {
			font-style: italic;  
			font-size: 90%;
		}
	}
}

#cheerleader_team_proposal_membership_choreographicExperiencePlaying {
	height: 200px;
}

#cheerleader_team_proposal_membership_acrobaticElements {
	height: 200px;
}

#cheerleader_team_proposal_membership_hobby, #cheerleader_team_proposal_membership_about {
	height: 200px;

}