section.partners {
	text-align: left;
	
	h2 {
		text-align: left;
		font-size: 160%;
		font-weight: bold;
		margin-bottom: 20px;
	}

	div.block {
		margin-bottom: 50px;

		img {
			margin: 0 20px 10px 0;
		}
	}

	div.descr {
		font-size: 160%;
		font-weight: bold;
	}
}