section.players {

	div.players_row {
		background-color: @gray-brand;
		padding: 20px 0;
		text-align: center;

		div.player {
			display: inline-block;
			margin: 0 11px;
			vertical-align: top;
			font-size: 80%;
			font-weight: bold;

			div.photo {
				margin-bottom: 5px;
			}
		}

		div.player:first-child {
			margin-left: 0;
		}

		div.player:last-child {
			margin-right: 0;
		}
	}
}