section.slider {

	img {
		width: 100% !important;
	}

	.carousel-caption {
		left: auto;
		right: auto;
		bottom: 0;
		width: 100%;
		padding: 7px 30px 12px;
		background: rgba(0,0,0,.6);
		text-align: left;
	
		h1 {
			font-size: 200%;
		}

		h2 {
			font-size: 130%;
			margin-top: 13px;
		}
	}

	.carousel-indicators {
		width: auto;
		right: 40px;
		bottom: 12px;
		left: auto;
		margin-left: 0;
		margin-bottom: 0;

		li {
			background: white;
		}

		li.active {
			background: @blue-brand;
		}
	}
}