{% extends '::base.html.twig' %}

{% block headline %}
  {{ post.getTitle() }}
{% endblock %}

{% block content %}
  <p>{{ post.getSubtitle() }}</p>
  <p>{{ post.getText() }}</p>
  {% media post.image, 'main' %}
  {{ post.createdAt.date | localizeddate('short', 'none') }}
{% endblock %}
