{% extends '::base.html.twig' %}

{% block head_style %}
  {{ parent() }}
  {% stylesheets
    'bundles/slashstudioapp/less/simple_page.less'
    'bundles/slashstudioapp/less/photos_videos.less' filter='?uglifycss' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
  {% endstylesheets %}
{% endblock head_style %}

{% block content_row %}
	<h1 class="blue_h1"><span>{{ header }}<div class="line"></div></span></h1>
  	<div class="row">
		<section class="simple_block col-xs-8">
			<div class="photo">
				{% media page.getImage(), 'big' with {alt: header, title: header} %}
			</div>
			<div class="descr text">{{ page.getText() | raw }}</div>
		</section>
		<aside class="col-xs-4">
			{% include 'SlashStudioAppBundle:Aside:instagram.aside.html.twig' %}
			{% include 'SlashStudioAppBundle:Aside:video.aside.html.twig' %}
		</aside>
	</div>
{% endblock %}