{% extends '::base.html.twig' %}

{% block headline %}
  {{ 'navigation.join_team' | trans({}, 'navigation') }}
{% endblock %}

{% block content %}
  <div>
    <h2>{{ 'navigation.video' | trans({}, 'navigation') }}</h2>
    {% for video in videos %}
      <div>{% media video, 'medium' %}</div>
    {% endfor %}
  </div>
{% endblock %}
